PORT=3000

SUPABASE_URL=babycare_supabase_project_url
SUPABASE_KEY=babycare_supabase_server_key

JWT_SECRET=babycare_super_public_key_2026

BREVO_API_KEY=brevo_api_key
EMAIL_FROM=verified_sender@example.com
EMAIL_FROM_NAME=BabyCare